*.jou
*/host
profile_summary.html
profile_summary.csv
xclbin.run_summary
_v++_*/
.Xil/
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp
*_x.*
*build/
*build_dir.*
*.run/
